.navbar {
    min-height: 53px;
    background-color: var(--lightgrey);
}

.nav-link{
    height: 36px;
    left: 0px;
    top: 0px;
    margin-right: 25px;

}
.nav-link:hover{
    text-transform: uppercase;
    text-color: #8B0146;
    font-weight: bold;
}

.navbar p {
    height: 36px;
    left: 0px;
    top: 0px;
    color: var(--purple);
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

.logo {

    max-width: 100px;
    max-height: 52px;
}
.dropdown.dropdownNavBar {
    max-width: 150px;
    border-radius: 10px;
    background-color: #ffffff!important;
    color: var(--purple);
    padding: 6px 3px;
}
.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}