.sous-titre {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--darkgrey);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
    width: 50%;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}
.img {
    display: inline-block;
    width:100px;
    height: 100px;
}

.wrapperStatistiques .row{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.text-primary{
    font-size: 60px!important;
    padding-top: 20px!important;
}
.card{
    border-radius: 50px;
    width: 70%;
    height:100%;
    margin: 0;
}
.dropdown{
    position: relative;
    align-items: stretch;
    width: 100%;
    max-width: 270px;
    padding: 6px 19px;
    font-weight: bolder;
    border-radius: 30px;
    background-color: var(--purple)!important;
    color: white;
    border: medium none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dropdown:focus{
    outline: none;
}

.container.drop {
    text-align: center;
}

select option {
    color: var(--purple) !important;
    font-weight: 600 !important;
    background-color: var(--lightgrey) !important;
}

select option:disabled {
    background-color: rgb(170, 170, 170) !important;
}

.wrapperStatistiques .pourcentage{
    color: #181552!important;
    font-weight: bold;
    text-align: left;
    font-size: 5rem;
}

.wrapperStatistiques .titre{
    font-size: x-large;
}

.card-header{
    border-top-left-radius: 50px!important;
    border-top-right-radius: 50px!important;
}