<%= stylesheet_link_tag "evaluation" %>

<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Menu Grille d'évaluation</span>
</div>

<div class="mx-3 mt-4">
  <span class="uppercase font-bold text-darkgrey">Grille d'évaluation</span>
</div>
<div class="d-flex justify-content-around mb-5 mt-3 mx-4">
  <span class="btn btn-square btn-xl mx-2 py-5" onclick="window.location.assign('./evaluationtemplate');">Consulter</span>
  <span class="btn btn-square btn-xl mx-2 py-5" onclick="window.location.assign('./ge_formats');">Modifier</span>
  <span class="btn btn-square btn-xl mx-2 py-5" onclick="window.open('<%= evaluation_path(format: 'pdf') %>', '_blank');">Télécharger</span>
</div>

<div class="mx-3 pt-3">
  <span class="uppercase font-bold text-darkgrey">Notation entreprise</span>
</div>
<div class="d-flex justify-content-around mb-5 mt-3 mx-4">
  <span class="btn btn-square btn-xl mx-2 py-5" onclick="window.location.assign('./notationtemplate');">Consulter</span>
  <span class="btn btn-square btn-xl mx-2 py-5" onclick="window.location.assign('./notation_formats');">Modifier</span>
  <span class="btn btn-square btn-xl mx-2 py-5" onclick="window.location.assign('./');">Télécharger</span>
</div>